# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Streamlit
.streamlit/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data / outputs (optional)
*.csv
*.xlsx
*.parquet
outputs/